#container {
    padding: 15px;
}

#entryBody {
    height: 200px;
    border: none!important;
    border-bottom: 2px solid #004AAD!important;
}

#entryBody:focus {
    background-color: aliceblue;
}

#entryMood {
    height: 50px!important;
    font-size: 35px;
}

select {
    height: 200px!important;
}

.select-blue {
    position: relative;
    display: inline-block;
}

.select-blue select {
    border: 1px solid #004AAD;
    outline: none;
}

.select-blue::after {
    content: '';
    position: fixed;
    right: 32px;
    top: 234px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #004AAD;
    pointer-events: none;
}

input[type=text] {
    border: none!important;
    border-bottom: 2px solid #004AAD!important;
}

input[type=password] {
    border: none!important;
    border-bottom: 2px solid #004AAD!important;
}

input[type=text]:focus {
    background-color: aliceblue;
}

input[type=password]:focus {
    background-color: aliceblue;
}

#entryDisplay {
    padding: 20px;
    border: 1px solid #121212;
    background-color: aliceblue;
    border-radius: 5px;
}

#entryMaster:active,
#entryMaster:focus {
    border: 1px solid #004AAD!important;
}

#entryMood:active,
#entryMood:focus {
    scrollbar-arrow-color: aliceblue;
    border: 1px solid #004AAD!important;
}

.button-blue {
    background-color: #004AAD!important;
    border-color: #004AAD!important;
  }

.button-blue:hover {
    background-color: gray!important;
    border-color: gray!important;
}

.button-blue-clear {
    background-color: transparent;
    border-color: #004AAD;
    color: #004AAD;
  }

.button-blue-clear:hover {
    background-color: #004AAD;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
